<div id="morph" data-signals:username="" data-signals:message="">
  <div class="chat-container">
    <h1>Hyperdream Chat</h1>

    <div class="messages">
      {{ messages | safe }}
    </div>

    <div class="input-bar">
      <input type="text"
             placeholder="Name"
             data-bind="username"
             class="name-input" />
      <input type="text"
             placeholder="Type a message…"
             data-bind="message"
             data-on:keydown="if(evt.key==='Enter') @post('{{ send_path }}')"
             class="message-input" />
      <button data-on:click="@post('{{ send_path }}')">Send</button>
    </div>
  </div>
</div>
